[loggers]
keys=root

[handlers]
keys=console, file

[formatters]
keys=api

[logger_root]
level=TRACE
handlers=console, file

[handler_console]
class=StreamHandler
formatter=api
args=(sys.stdout,)

[handler_file]
class=handlers.RotatingFileHandler
formatter=api
args=('%(logging_file_name)s', )

[formatter_api]
format=[%(name)s]:[%(process)d][%(processName)s][%(name)s]:%(asctime)s [%(levelname)s] %(message)s

