[loggers]
keys=root, auth, db, routers

[handlers]
keys=console, file

[formatters]
keys=api

[logger_root]
level=DEBUG
handlers=console, file

[logger_auth]
level=DEBUG
handlers=console, file
qualname=au
propagate=0

[logger_db]
level=DEBUG
handlers=console, file
qualname=db
propagate=0

[logger_routers]
level=DEBUG
handlers=console, file
qualname=routers
propagate=0

[handler_console]
class=StreamHandler
formatter=api
args=(sys.stdout,)

[handler_file]
class=FileHandler
formatter=api
args=('%(logging_file_name)s', 'w')

[formatter_api]
format=[%(name)s]:[%(process)d][%(processName)s][%(name)s]:%(asctime)s [%(levelname)s] %(message)s

